@model CRM.Models.DTO.ChangePassworddto
@{
    ViewData["Title"] = "Changepassword";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@TempData["Message"]";

        if (message) {
            Swal.fire({
                title: 'Notification',
                text: message,
                icon: 'info',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log('User clicked OK');
                }
            });
        }
    });
</script>


<style>

    .main-password {
        position: relative;
    }

    .icon-view {
        position: absolute;
        right: 19px;
        top: 45px;
    }

    .icontop {
        width: 10px;
        height: 10px;
        margin-left: 10px;
        color: black !important;
        margin-top: -48px;
    }
</style>
<style>
    body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar"></div>

        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>Change Password</h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Change Password</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header text-center" style="color:black">Change Password</div>
                            <div class="card-body">
                                <form asp-action="ChangePassword" method="post" autocomplete="off">
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-12 main-password">
                                            <label for="CurrentPassword">Current Password</label>
                                            <input asp-for="CurrentPassword" type="password" id="CurrentPassword" placeholder="Enter current password" class="form-control" required="" oninvalid="this.setCustomValidity('Please enter your current password')" oninput="this.setCustomValidity('')" />
                                            <a href="JavaScript:void(0);" class="icon-view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-12 main-password">
                                            <label for="NewPassword">New Password</label>
                                            <input asp-for="NewPassword" type="password" id="NewPassword" placeholder="Enter new password" class="form-control" required="" oninvalid="this.setCustomValidity('Please enter a new password')" oninput="this.setCustomValidity('')" />
                                            <a href="JavaScript:void(0);" class="icon-view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-12 main-password">
                                            <label for="ConfirmPassword">Confirm New Password</label>
                                            <input asp-for="ConfirmPassword" type="password" id="ConfirmPassword" placeholder="Confirm new password" class="form-control" required="" oninvalid="this.setCustomValidity('Please confirm your new password')" oninput="this.setCustomValidity('')" />
                                            <a href="JavaScript:void(0);" class="icon-view">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex justify-content-center">
                                        <input type="submit" value="Change Password" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.main-password').find('.form-control').each(function (index, input) {
            var $input = $(input);
            $input.parent().find('.icon-view').click(function () {
                var change = "";
                if ($(this).find('i').hasClass('fa-eye')) {
                    $(this).find('i').removeClass('fa-eye')
                    $(this).find('i').addClass('fa-eye-slash')
                    change = "text";
                } else {
                    $(this).find('i').removeClass('fa-eye-slash')
                    $(this).find('i').addClass('fa-eye')
                    change = "password";
                }
                var rep = $("<input type='" + change + "' />")
                    .attr('id', $input.attr('id'))
                    .attr('name', $input.attr('name'))
                    .attr('class', $input.attr('class'))
                    .val($input.val())
                    .insertBefore($input);
                $input.remove();
                $input = rep;
            }).insertAfter($input);
        });
    });
</script>

