@model CRM.Models.Crm.CustomerRegistration

@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <style>

        .select2-results__option {
            padding-right: 20px;
            vertical-align: middle;
        }

            .select2-results__option:before {
                content: "";
                display: inline-block;
                position: relative;
                height: 20px;
                width: 20px;
                border: 2px solid #e9e9e9;
                border-radius: 4px;
                background-color: #fff;
                margin-right: 20px;
                vertical-align: middle;
            }

            .select2-results__option[aria-selected=true]:before {
                font-family: fontAwesome;
                content: "\f00c";
                color: #fff;
                background-color: #f77750;
                border: 0;
                display: inline-block;
                padding-left: 3px;
            }

        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: #fff;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #eaeaeb;
            color: #272727;
        }

        .select2-container--default .select2-selection--multiple {
            margin-bottom: 10px;
        }

        .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
            border-radius: 4px;
        }

        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border-color: #f77750;
            border-width: 2px;
        }

        .select2-container--default .select2-selection--multiple {
            border-width: 2px;
        }

        .select2-container--open .select2-dropdown--below {
            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }

        .select2-selection .select2-selection--multiple:after {
            content: 'hhghgh';
        }
        /* select with icons badges single*/
        .select-icon .select2-selection__placeholder .badge {
            display: none;
        }

        .select-icon .placeholder {
            /* 	display: none; */
        }

        .select-icon .select2-results__option:before,
        .select-icon .select2-results__option[aria-selected=true]:before {
            display: none !important;
            /* content: "" !important; */
        }

        .select-icon .select2-search--dropdown {
            display: none;
        }
    </style>

</head>

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Customer Registration
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">CRM</li>
                                <li class="breadcrumb-item active">Customer</li>
                                <li class="breadcrumb-item active">Customer Registration</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="Customer" autocomplete="off">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Company Name</label>
                                            <input asp-for="CompanyName" class="form-control" />
                                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Contact Person Name</label>
                                            <input asp-for="ContactPersonName" class="form-control" />
                                            <span asp-validation-for="ContactPersonName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Mobile Number</label>
                                            <input type="text" asp-for="MobileNumber" class="form-control" minlength="10" maxlength="10" onkeydown="validateNumericInput(event)" required />
                                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Alternate Number</label>
                                            <input type="text" asp-for="AlternateNumber" class="form-control" minlength="10" maxlength="10" onkeydown="validateNumericInput(event)" required />
                                            <span asp-validation-for="AlternateNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Email</label>
                                            <input type="email" asp-for="Email" class="form-control" required />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Gst Number</label>
                                            <input asp-for="GstNumber" class="form-control" required />
                                            <span asp-validation-for="GstNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Billing Address</label>
                                            <input asp-for="BillingAddress" class="form-control" required />
                                            <span asp-validation-for="BillingAddress" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Product Details</label>

                                            @Html.DropDownListFor(model => model.ProductDetails, new SelectList(ViewBag.ProductDetails, "Value", "Text"), "-- Select Product --", new { @class = "form-control" })

                                            <span asp-validation-for="ProductDetails" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Start Date</label>
                                            <input name="StartDate" type="date" class="form-control" required />
                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Renew Date</label>
                                            <input name="RenewDate" type="date" class="form-control" required />
                                            <span asp-validation-for="RenewDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">Price</label>
                                            <input type="Price" asp-for="Email" class="form-control" required />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">State</label>
                                            <select id="State" class="form-control">
                                                <option value="">--Select State--</option>
                                                <option value="UP">UP</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">IGST</label>
                                            <input name="IGST" type="text" class="form-control" required id="IGST" readonly disabled />
                                            @*<span asp-validation-for="IGST" class="text-danger"></span>*@
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">SGST</label>
                                            <input name="SGST" type="text" class="form-control" required id="SGST" readonly disabled />
                                            @*<span asp-validation-for="SGST" class="text-danger"></span>*@
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="validationCustom0">CGST</label>
                                            <input name="CGST" type="text" class="form-control" required id="CGST" readonly disabled />
                                            @*<span asp-validation-for="CGST" class="text-danger"></span>*@
                                        </div>
                                    </div>


                                    <div class="row">
                                        <label for="validationCustom0">Location</label>
                                        <select class="form-group col-sm js-select2" multiple="multiple">
                                            <option value="O1" data-badge="">Option1</option>
                                            <option value="O2" data-badge="">Option2</option>
                                            <option value="O3" data-badge="">Option3</option>
                                            <option value="O4" data-badge="">Option4</option>
                                            <option value="O5" data-badge="">Option5</option>
                                            <option value="O6" data-badge="">Option6</option>
                                            <option value="O7" data-badge="">Option7</option>
                                        </select>
                                    </div>


                                    <div class="form-group" style="display:flex; justify-content:center;">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>
<!-- Add this in the head section of your HTML -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

@section scripts {

    <script>

        $(document).ready(function () {
            // Event listener for state dropdown change
            $('#State').change(function () {
                var selectedState = $(this).val();

                // Check if UP is selected
                if (selectedState === 'UP') {
                    // Fill in CGST and SGST values
                    $('#CGST').val('2.5');
                    $('#SGST').val('2.5');
                    $('#IGST').val(''); // Clear IGST value
                } else {
                    // Fill in IGST value and clear CGST and SGST values
                    $('#IGST').val('5');
                    $('#CGST').val('6');
                    $('#SGST').val('6');
                }
            });
        });
    </script>
}

<script>
    function validateNumericInput(event) {
        // Allow: backspace, delete, tab, escape, enter
        if ([46, 8, 9, 27, 13].indexOf(event.keyCode) !== -1 ||
            // Allow: Ctrl+A
            (event.keyCode == 65 && event.ctrlKey === true) ||
            // Allow: home, end, left, right
            (event.keyCode >= 35 && event.keyCode <= 39)) {
            // Let it happen, don't do anything
            return;
        }

        // Ensure that it is a number and stop the keypress if not
        if ((event.shiftKey || (event.keyCode < 48 || event.keyCode > 57)) && (event.keyCode < 96 || event.keyCode > 105)) {
            event.preventDefault();
        }
    }
</script>

<script type="text/javascript">
    $(".js-select2").select2({
        closeOnSelect: false,
        placeholder: "Placeholder",
        // allowHtml: true,
        allowClear: true,
        tags: true // создает новые опции на лету
    });
</script>

