<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div>
    <h1 class="text-center">Tax Invoice</h1>
</div>
<div class="container mx-auto " style="border: 1px solid black;">
        <div class="row">
            <div class=" col-12" style="border: 1px solid black;">
                  <div>
                    <h3 class="text-center">GA DIGITAL WEB WORD PRIVATE LIMITED</h3>
                </div>
                <div>
                    <h6 class="text-center">No.1, Hargobind Enclave, Vikas Marg Extension, Delhi-110092.</h6>
                </div>
                <div>
                    <h6 class="text-center">(Websites, Software Development, E-Commerce, Hardware Maintenance, Manning of Call Center etc.)</h6>
                </div>
            </div>

        </div>
        <div class="row">
            <div class=" col-md-6" style="border: 1px solid black;">
              <div>
                  <h6>No. DEL/2023/1182
                      <br />
                      Dated:-01.12.2023
                      <br />
                      GST no.07DELC08153F1DT
                  </h6>
              </div>
            </div>
            <div class="  col-md-6 " style="border: 1px solid black;">
                <div>
                  <h6>PAN NO. AACCG1290R
                      <br />
                      GST NO.-07AACCG1290R1Z7
                  </h6>
              </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-12" style="border: 1px solid black;">
                <div>
                  <h5>Name: The ELECTION OFFICER (P&amp;I)
                      <br />
                      O/o CEO, DELHI
                      <br />
                      Old St. Stephen&#39;s College Building, Kashmere Gate,
                      <br />
                      Lothian Rd, Old Delhi,
                      <br />
                      Delhi, 110006
                  </h5>
              </div>
            </div>

    </div>
        <div class="row" style="border: 1px solid black;">
            <div class="col" style="border: 1px solid black;color: red;">
                 <div>
                  <h5 class="text-center">HSN/SAC
                      <br />
                      (Code)
                  </h5>                 
              </div>                
            </div>
        <div class="col" style="border: 1px solid black;">
                 <div>
                <h5 class="text-center">Description of the Job</h5>
            </div>
            </div>
        <div class="col" style="border: 1px solid black;">
               <div>
                <h5 class="text-center">Amount
                    <br />
                    (In Rs.)
                </h5>

            </div>
            </div>
        </div>
        <div class="row align-items-start " style="border: 1px solid black;">
            <div class="col" style="border: 1px solid black;height: 250px;">
               @* One of three columns*@
            </div>
            <div class="col" style="border: 1px solid black;height: 250px;">
            <h6>
                Bill for providing for staff Deployed for the month of
                Nov 23 (10 data entry Operator)
            </h6>
            <br />
            <br />
            <h6>
                Add CGST @@9%
            </h6>
            <br />      
            <h6>
                Add SGST @@ 9%
            </h6>
        </div>
            <div class="col" style="border: 1px solid black;height: 250px;">
                <br />
            <h5 class="text-center">
                Rs.239738/-
                </h5>
                <br />
            <h5 class="text-center">
                Rs. 21576/-
            </h5>
            <br />
            <h5 class="text-center">
                Rs. 21576/-
            </h5>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-8" style="border: 1px solid black;">
                <h6>
                Total: (Rs. In words) Two Lac Eighty-Two Thousand Eight
                Hundred Ninety Only.
                </h6>
            </div>
            <div class="  col-md-4 " style="border: 1px solid black;">
            <h5 class="text-center">
                Rs. 282890/-
                </h5>
            </div>
        </div>
        <div class="row">
            <div class=" col-12" style="border: 1px solid black;">
            <h5 style="color: #00adff;">
                Bank Details:- Yes Bank Ltd. ,
                <br />
                Indrapuram Branch
                <br />
                Account No. :- &#39;012784100000013
                <br />
                IFSC Code:- YESB0000127
                </h5>
                 <h6>
                Terms and Conditions :
                <br />
                Payment by cheques/DD only.
                <br />
                Cheque/DD should be made in favour of GA Digital Web Word (P) Ltd., payable at Delhi.
                <br />
                Subject to Delhi Jurisdiction
                <br/>
                Interest @@ 24% will be charged if payment is not cleared within 10 days.
            </h6>
            </div>       
           
       
        </div>
    </div>
      <div>
    <h6 style="text-align:right;margin-right: 185px;color: #000000c2;">
            For GA DIGITAL WEB WORD PRIVATE LIMITED
        </h6>
    </div>