@model CRM.Models.Crm.Quation

@{
    ViewData["Title"] = "Quation";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Quotation
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Quotation</li>
                                <li class="breadcrumb-item active">Generate Quotation</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
     <div class="container-fluid">
          <div class="row">
    <div class="col-sm-12">
         <div class="card">
             <div class="card-body">
               <form asp-action="Quation" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-sm">
                                   <label class="control-label">Company Name</label>
                                            <input asp-for="CompanyName" class="form-control" placeholder="Company Name" required="" onkeydown="validateNumericInput(event)" oninvalid="this.setCustomValidity('Please Enter Company Name')" oninput="this.setCustomValidity('')" />
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm">
                                  <label class="control-label">Customer Name</label>
                                            <input asp-for="CustomerName" class="form-control" placeholder="Customer Name" required="" onkeydown="validateNumericInput(event)" oninvalid="this.setCustomValidity('Please Enter Customer Name')" oninput="this.setCustomValidity('')" />
                                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                                </div>
                            </div>
             <div class="row">
            <div class="form-group col-sm">
                <label asp-for="Email" class="control-label"></label>
                                            <input type="email" asp-for="Email" class="form-control" placeholder="Email" required="" onkeydown="validateNumericInput(event)" oninvalid="this.setCustomValidity('Please Enter Email')" oninput="this.setCustomValidity('')" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-sm">
                <label class="control-label">Sales Person Name</label>
                                            <input asp-for="SalesPersonName" class="form-control" placeholder="Sales Person Name" required="" onkeydown="validateNumericInput(event)" oninvalid="this.setCustomValidity('Please Enter Sales Person Name')" oninput="this.setCustomValidity('')" />
                <span asp-validation-for="SalesPersonName" class="text-danger"></span>
            </div>
            </div>
             <div class="row">
                <div class="form-group col-sm">
                   <label for="validationCustom0">Product Name</label>
                                            @Html.DropDownListFor(model => model.ProductId, new SelectList(ViewBag.ProductDetails, "Value", "Text"), "-- Select Product --", new { @class = "form-control",onchange = "validateProduct(this)",oninvalid="this.setCustomValidity('Please select Product')" ,oninput="this.setCustomValidity('')",required="required" })

                     <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
            <div class="form-group col-sm">
                <label asp-for="Subject" class="control-label"></label>
                 <input asp-for="Subject" class="form-control" placeholder="Subject" required="" onkeydown="validateNumericInput(event)" oninvalid="this.setCustomValidity('Please Enter Subject')" oninput="this.setCustomValidity('')" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm">
                <label asp-for="Amount" class="control-label"></label>
                <input name="Amount" type="text" class="form-control" placeholder="Amount" required="" onkeydown="validateNumericInput(event)" oninvalid="this.setCustomValidity('Please Enter Amount')" oninput="this.setCustomValidity('')" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group col-sm">
                <label asp-for="Mobile" class="control-label"></label>
                 <input asp-for="Mobile" class="form-control" minlength="10" maxlength="10" placeholder="Mobile" onkeydown="validateNumericInput(event)" oninvalid="this.setCustomValidity('Please Enter Mobile')" oninput="this.setCustomValidity('')" required />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            </div>

                 <div class="form-group" style="display:flex; justify-content:center;">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        </div>
        </div>
    </div>
  </div>
    </div>

      </div>
    </div>
</div>

<script>
    function validateProduct(selectElement) {
        if (selectElement.value === "") {
            selectElement.setCustomValidity('Please select Product');
        } else {
            selectElement.setCustomValidity('');
        }
    }
</script>





