@model CRM.Models.DTO.empOfferletter
@{
    Layout = "";
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        p {
            font-size: 20px;
            line-height: 1.6;
            margin: 0 0 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center lh-1 mb-2">
                    <img src="~/assets/images/logo.png" style="width: 150px;height: 100px;" />
                </div>
                <div id="result"></div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <p><b>[@Model.CompanyName]</b></p>
            </div>
            <div class="row">
                <p><b>[Date and contact information]</b></p>
            </div>
            <div class="row">
                <p>Subject: Employment Offer Letter</p>
            </div>
            <div class="row">
                <p>Dear<b>[@Model.First_Name]</b>,</p>
            </div>
            <div class="row">
                <p>We at<b>[@Model.CompanyName]</b>are pleased to offer you the position of<b>[@Model.Designation_Name]</b>in our <br /><b>[@Model.Department_Name]</b>.</p>
            </div>
            <div class="row">
                <p>Your starting date will be <b>[@Model.Joiningdate]</b>. The starting salary is <b>[@Model.AnnualCtc]</b> per year paid <br />on a <b>[@Model.MonthlyCtc]</b> basis by direct deposit. This offer of employment is<br /> contingent on you passing a pre-employment background check and signing<br /> standard confidentiality agreements.</p>

            </div>
            <div class="row">
                <p>If you choose to accept this job offer, please sign and return this letter at your earliest <br />convenience by<b> [offer expiry date]</b>. Once your acceptance has been received, we will <br /> send you information about onboarding and other asset details.</p>

            </div>
            <div class="row">
                <p>Congratulations! We look forward to working with you. Please let me know if you <br /> have any questions or concerns.</p>

            </div>
            <div class="row">
                <p>Sincerely,</p>

            </div>
            <div class="row">
                <p><b>[Sender Name]</b></p>

            </div>
            <div class="row">
                <p><b>[@Model.Designation_Name]</b></p>

            </div>
            <div class="row">
                <p><b>[@Model.CompanyName]</b></p>

            </div>

        </div>
    </div>
</body>
</html>


