@model CRM.Models.Crm.Employeer_EPF
@{
    ViewData["Title"] = "Employer";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h2>
                                    Employer Details
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">Settings</li>
                                <li class="breadcrumb-item active">Employer</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="Employer" method="post" autocomplete="off">
                                    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="validationCustom0">Deduction Cycle</label>
                                            <select name="Deduction_Cycle" class="form-control" id="decycle" required>
                                                <option value="0">-- select --</option>
                                                <option value="ESIC">ESIC</option>
                                                <option value="EPF">EPF</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" id="esic">
                                            <label>ESIC Percentage</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="0.00" name="ESIC_Percentage" id="validationCustom1" type="text">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="esicrate">
                                            <label>ESIC Contribution Rate</label>
                                            <input class="form-control" placeholder="ESIC Contribution Rate" name="ESIC_Contribution_Rate" id="validationCustom1" type="text">
                                        </div>
                                        <div class="col-md-4" id="epf">
                                            <label>EPF Percentage</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="0.00" name="EPF_Percentage" id="validationCustom1" type="text">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="epfrate">
                                            <label>Employer Contribution Rate</label>
                                            <input class="form-control" placeholder="Employer Contribution Rate" name="Employer_Contribution_Rate" id="validationCustom1" type="text">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group" style="display:flex; justify-content:center;">
                                        <input type="submit" value="Save" class="btn btn-primary" id="btnsave" />
                                        @*<button type="submit" value="Save" class="btn btn-primary" id="btnsave">Save</button>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@* <script>
    $(function () {
        $("input[name='EPF_Number']").on('input', function (e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });
    });
    $(function () {
        $("input[name='Employer_Contribution_Rate']").on('input', function (e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });
    });
</script> *@
<script>
    $(document).ready(function () {
       $('#btnsave').hide();
        $('#esic').hide();
        $('#esicrate').hide();
        $('#epf').hide();
        $('#epfrate').hide();
    });
        $('#decycle').change(function () {
            $('#btnsave').show();
            var selectedDeduction = $(this).val();
            if (selectedDeduction === 'ESIC') {
                $('#epf').hide();
                $('#epfrate').hide();
                $('#esic').show();
                $('#esicrate').show();
            } else if (selectedDeduction === 'EPF') {
                $('#esic').hide();
                $('#esicrate').hide();
                $('#epf').show();
                $('#epfrate').show();
            }
           
        });


        //function toggleSaveButton() {
        //    var isESICorEPFSelected = ['ESIC', 'EPF'].includes($('select[name="Deduction_Cycle"]').val());
        //    if (isESICorEPFSelected) {
        //        $('.btn.btn-primary').prop('disabled', false).show();
        //    } else {
        //        $('.btn.btn-primary').prop('disabled', true).hide();
        //    }
        //}
    
</script>
@*<script>
    $(document).ready(function () {
        $('#btnsave').hide();
        $("#esic, #esicrate, #epf, #epfrate").hide();
        $("#decycle").change(function () {
            $("#esic, #esicrate, #epf, #epfrate").hide();
            $('#btnsave').show();
            var selectedOption = $(this).val();
            if (selectedOption === "ESIC") {
                $("#esic, #esicrate").show();
            } else if (selectedOption === "EPF") {
                $("#epf, #epfrate").show();
            }
        });
    });
</script>*@




