@model CRM.Models.Crm.EmployeeSalaryDetail

@{
    ViewData["Title"] = "Gengeneratesalary";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var message = "@ViewBag.Message";

        if (message) {
            swal({ text: message })
            setTimeout(function () {
                swal.close();
            }, 5000);
        }
    });
</script>*@
<div class="page-wrapper">
    <div class="page-body-wrapper">
        <div class="page-sidebar">
        </div>
        <!-- Page Sidebar Ends-->
        <!-- Right sidebar Start-->
        <!-- Right sidebar Ends-->

        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Generate Salary
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard"><i data-feather="home"></i></a></li>
                                <li class="breadcrumb-item">HR Payrole</li>
                                <li class="breadcrumb-item active">Employee</li>
                                <li class="breadcrumb-item active">Generate Salary</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Gengeneratesalary" autocomplete="off">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label class="control-label">Employee Id</label>
                                    <input asp-for="EmployeeId" class="form-control" readonly/>
                                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm">
                                    <label class="control-label">Employee Name</label>
                                    <input asp-for="EmployeeName"  class="form-control" readonly />
                                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                                </div>
                            </div>
                           <div class="row">
                                <div class="form-group col-sm">
                                    <label class="control-label">Basic</label>
                                    <input asp-for="Basic" type="text" class="form-control" />
                                    <span asp-validation-for="Basic" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm">
                                    <label class="control-label">Houserent Allowance</label>
                                    <input asp-for="HouseRentAllowance" type="text" class="form-control" />
                                    <span asp-validation-for="HouseRentAllowance" class="text-danger"></span>
                                </div>
                           </div>
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label class="control-label">Conveyance Allowance</label>
                                    <input asp-for="ConveyanceAllowance" type="text" class="form-control" />
                                    <span asp-validation-for="ConveyanceAllowance" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm">
                                    <label class="control-label">Conveyance Allowance</label>
                                    <input asp-for="ConveyanceAllowance" type="text" class="form-control" />
                                    <span asp-validation-for="ConveyanceAllowance" class="text-danger"></span>
                                </div>                       
                            </div>  
                            <div class="row">
                                <div class="form-group col-sm">
                                    <label class="control-label">EPF</label>
                                    <input asp-for="Epf" type="text"  class="form-control" />
                                    <span asp-validation-for="Epf" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm">
                                    <label class="control-label">Fixed Allowance</label>
                                    <input asp-for="FixedAllowance" type="text" class="form-control" />
                                    <span asp-validation-for="FixedAllowance" class="text-danger"></span>
                                </div>                               
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Monthly CTC</label>
                                    <input asp-for="MonthlyCtc" type="text" class="form-control" />
                                    <span asp-validation-for="MonthlyCtc" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" style="display:flex; justify-content:center;">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>








